NEXT_PUBLIC_SITE_URL=https://www.dinevio.de
RESEND_API_KEY=
RESEND_API_URL=
CONTACT_FORM_FROM_EMAIL=
CONTACT_FORM_TO_EMAIL=
GOOGLE_PLACES_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
